@charset "utf-8";
* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background:#0b2027;
	font-family: 'Roboto',sans-serif;
	line-height: 18px;
}

a {
	text-decoration:none;
	color:#fff;
}

.btn-menu {
	display:block;
	padding:20px;
	background:#0d2c44;
	color:#fff;
}

.btn-menu .icon {
	float:right;
}

.container-menu {
	width:20%;
	min-width:210px;
	margin:1px;
	display:inline-block;
	font-family: 'Roboto',sans-serif;
	line-height:18px;
}

.container-menu .menu {
	width:100%;
}

.container-menu ul{
	list-style:none;
}

.container-menu .menu li a{
	color:#494949;
	display:block;
	padding:15px 20px;
	background:#fff;
}

.container-menu .menu li a:hover {
	background:#058214;
	color:#fff;
}


.container-menu .menu .icon.right {
	float:right;
	margin-right: 10px;
}

.container-menu .menu ul{
	display:none;
}

.container-menu .menu ul li a {
	background: #424242;
	color:#e9e9e9;
}


.container-menu .menu .activate > a{
	background:#058214;
	color:#fff;
}

.container-menu .menu ul li ul li .activate > a{
	background:#058214;
	color:#fff;
}

@media screen and (max-width: 450px) {
	body {
		padding-top: 80px;
	}
	
	.container-menu{
		margin:0;
		width:100%;
		position: fixed;
		top:0;
		z-index:1000;
	}
	
	.btn-menu {
		display:block;
	}
	
	.container-menu .menu {
		display:none;
	}
}